/*
    --prussian-blue:  #13293dff;
    --lapis-lazuli:   #006494ff;
    --cerulean:       #247ba0ff;
    --celestial-blue: #1b98e0ff;
    --alice-blue:     #e8f1f2ff;
*/

body {
    background-color: #e8f1f2ff;
}

.w3-bar {
    background-color: #006494ff;
}

.w3-bar-item {
    color: white;
}

#current_hr, #glance_hr {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

#current_hr table {
    margin: auto;
    width: 90%;
}